:root {
  margin: 0;
  padding: 0;
  font-family:  'Poppins', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #141414;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  max-height: 15px;
  border: 0;
  border-radius: 15px;
  background: rgb(109, 109, 109);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  max-height: 15px;
  border: 0;
  border-radius: 15px;
  background: #555;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}